<mat-button-toggle-group name="fontStyle" aria-label="Font Style" color=primary>
        <mat-button-toggle value="psupport">Product Support</mat-button-toggle>
        <mat-button-toggle value="ksupport">Knowledge Base</mat-button-toggle>
        <mat-button-toggle value="wandc">Warranty & Contacts</mat-button-toggle>
        <mat-button-toggle value="srequest">Service Requests</mat-button-toggle>
        <mat-button-toggle value="osupport">Order Support</mat-button-toggle>
        <mat-button-toggle value="csupport">Contact support</mat-button-toggle>


</mat-button-toggle-group>
